<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>712332989793-jf6n5ggs2f2dfneif555c0ektraq07g4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712332989793-jf6n5ggs2f2dfneif555c0ektraq07g4</string>
	<key>API_KEY</key>
	<string>AIzaSyAz7a2kvEg-lgkD7yByIT3oH4z0zqN3OXY</string>
	<key>GCM_SENDER_ID</key>
	<string>712332989793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harrison.Psych-Check</string>
	<key>PROJECT_ID</key>
	<string>psych-check</string>
	<key>STORAGE_BUCKET</key>
	<string>psych-check.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:712332989793:ios:66e3e18d9beb7351</string>
	<key>DATABASE_URL</key>
	<string>https://psych-check.firebaseio.com</string>
</dict>
</plist>
